@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <h1 class='mt-5' style='text-align: center; vertical-align: middle; color: silver; user-select: none;'>
        <pre>
?  ╱|、
(˚ˎ 。7  
        |、˜〵          
じしˍ,)ノ
            </pre>
        10 Điểm Project
    </h1>
</div>
